<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Abuela sorda</h1>
    <form action="/abuela" method="post">
      <label for="name">
        <p>¡Di algo, abuela!</p>
        <input type="text" name="abu">
        <button type="button">Dilo!</button>
      </label>

  </body>
</html>
